{% extends 'base.html' %}

{% block content %}

  {% block content_header %}
    <h2>Recordings library</h2>
  {% endblock %}

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Speaker</th>
        <th>Recording</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for audio in audios %}
        <tr>
          <td>{{ audio.speaker }}</td>
          <td>{{ audio.recording }}</td>
          <td>
            <a href="{{ audio.recording.url }}" class="btn btn-primary btn-sm" target="_blank">
              Download
            </a>
          </td>
          <td>
            <form method="post" action="{% url 'delete_audio' audio.pk %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger btn-sm">Delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
