{% load static %}<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/pageCommon.css' %}">
  <link id="pageStylesheet" rel="stylesheet" type="text/css" href="{% static 'css/pageLight.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'fontawesome/css/all.min.css' %}">

  <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
  <title>{% block title %}intonat.io{% endblock %}</title>
  {% block head_content %}
  {% endblock %}

</head>

<body id="page-background">
  <nav class="navbar navbar-expand-lg mb-4" id="navbar-background">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">intonat.io </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {{ recorder }}" href="{% url 'record' %}">Audio recorder</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{ audio_list }}" href="{% url 'audio_list' %}">Audio uploader</a>
          </li>
        </ul>
      </div>
      <input type="checkbox" id="toggle" class="toggle--checkbox" onclick="swapStyleMode()">
      <label for="toggle" class="toggle--label">
        <span class="toggle--label-background"></span>
      </label>
      <div class="background"></div>
    </div>
  </nav>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

<script type="text/javascript">
  
  var theme = document.getElementById('pageStylesheet')
  var cachedTheme = localStorage.getItem('theme')

  if(cachedTheme != null)
  {
    theme.setAttribute('href', localStorage.getItem('theme'));
    
    if(cachedTheme == "{% static 'css/pageDark.css' %}")
    {
      document.getElementById('toggle').checked = true;
    }

  }

  function swapStyleMode()
  {
    if (theme.getAttribute('href') == "{% static 'css/pageLight.css' %}")
    {
      localStorage.setItem('theme', "{% static 'css/pageDark.css' %}")
    }
    else
    {
      localStorage.setItem('theme', "{% static 'css/pageLight.css' %}")
    }
    
    theme.setAttribute('href', localStorage.getItem('theme'));
  }
</script>