{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/recorder.css' %}">
{% block content %}
  <h2 class="card-title">Scenariusz</h2>
  <p class="card-text">
    I SAID WHITE NOT BAIT<br>
    I SAID NEW NOT NO<br>
    I SAID BAD NOT BED<br>
    I SAID LATE NOT SITE<br>
    I SAID FIGHT NOT CENTRE<br>
    I SAID SNOW NOT TOMORROW<br>
    I SAID CLOTHES NOT BIOLOGICAL<br>
    I SAID PUT NOT BLUE<br>
    I SAID LIVE NOT BED<br>
    I SAID ALONE NOT GONE<br>
    I SAID PHRASE NOT BAR<br>
    I SAID GOT NOT GOAT<br>
    I SAID MEET NOT WATER<br>
    I SAID CHEAP NOT OTHER<br>
    I SAID THROUGH NOT THOUGH<br>
    I SAID LET NOT LEAVE<br>
    I SAID BOOK NOT DO<br>
    I SAID CLIMBING NOT CHEESE<br>
    I SAID PSYCHOLOGY NOT PNEUMATIC<br>
    I SAID THIN NOT SHEEP<br>
    I SAID HATE NOT TIN<br>
    I SAID WON'T NOT UDDER<br>
    I SAID SIXTHS NOT BIOLOGY<br>
    I SAID HAT NOT SURE<br>
    I SAID SLEEP NOT HOPE<br>
    I SAID CALL NOT SHALL<br>
    I SAID DON'T NOT SHOULDER<br>
    I SAID WOULD NOT FILM<br>
    I SAID SPORT NOT WINE<br>
    HONEST NOT SLEPT<br>
    WHAT IS SHE DRINKING A CUP OF COFFEE<br>
    A CAN OF CIDER<br>
    A GLASS OF WINE<br>
    A BOTTLE OF WATER<br>
    A MUG OF TEA<br>
    WHERE ARE THEY SITTING IN A PARK<br>
    IN A PUB<br>
    AT HOME<br>
    BY A RIVER<br>
    IN THE THEATRE<br>
    ON A BENCH IN THE PARK<br>
    OUTSIDE A PUB BY THE RIVER<br>
    IN A PARK NEAR A PATH<br>
    BESIDE A TREE IN A PARK<br>
    BESIDE THE FIRE IN A PUB<br>
    IN A BOAT ON THE RIVER<br>
    WHERE IS THE CUP ON THE EDGE OF THE TABLE<br>
    IN THE MIDDLE OF THE TABLE<br>
    NEXT TO THE JUG ON THE TABLE<br>
    IN THE CUPBOARD<br>
    WHAT CAN YOU SEE IN THE PICTURE A GINGER BISCUIT<br>
    A SINGER SINGING<br>
    A MAN'S FINGER<br>
    A BELL RINGER<br>
    WHAT IS THIS BUILDING A POWER STATION<br>
    A RAILWAY STATION<br>
    A BUS TERMINAL<br>
    AN AIRPORT TERMINAL<br>
    AN ART GALLERY<br>
    WHAT'S IN THE PICTURE A PUB<br>
    A MOUTH<br>
    A SHIP<br>
    A BEAN<br>
    A PEN<br>
    THREE TREES<br>
    SOME TREASURE<br>
    A PAN<br>
    A SUM<br>
    A SHEEP<br>
    A PUP<br>
    A THUMB<br>
    A MOUSE<br>
    A BIN<br>
    A TREE<br>
    SOME CLOTHES<br>
    A BLOUSE<br>
    A TELEVISION<br>
    WHAT'S SHE WEARING SHE'S WEARING A LEATHER JACKET AND CORDUROY TROUSERS<br>
    WHAT'S HE WEARING HE'S WEARING A BIG BEIGE JUMPER AND A COWBOY HAT<br>
    SHE'S WEARING A BROWN WOOLY HAT AND A RED SCARF<br>
    HE'S WEARING A YELLOW SCARF AND A FLOWERY SHIRT<br>
    THE REFEREE NEEDED A POLICE ESCORT_N AFTER THE MATCH<br>
    A STUDENT VISA PERMITS_V THEM TO STAY LONGER<br>
    I WAS NOT PRESENT_ADJ THE LAST MEETING<br>
    THEY WANTED TO PROTEST_V AGAINST STUDENT FEES<br>
    HE HAS HIS OWN PHOTOGRAPHIC STUDIO<br>
    EU NATIONALS DON'T NEED WORK PERMITS_N<br>
    THE CONVICT_N EXPRESSED ANGER AT THE SENTENCE<br>
    SINGERS LEARN HOW TO PROJECT_V THEIR VOICES<br>
    THE PRIME SUSPECT_N IS THE DIRECTOR<br>
    I AM UNABLE TO ESTIMATE_V THE COST<br>
    THE COMPANY EXPECTS TO INCREASE_V THE WORKFORCE NEXT YEAR<br>
    THE GOVERNMENT PUBLISHED AN ESTIMATE_N OF FUTURE TAX INCOME<br>
    THE COMMITTEE WILL CONDUCT_V A FULL INVESTIGATION INTO HIS BEHAVIOUR<br>
    OVER THE NEXT TWO WEEKS EACH PAIR WILL CONTEST_V EIGHT GAMES<br>
    THEY SHOULD SURVEY_V ALL STAFF ON THIS QUESTION<br>
    WHAT DO YOU THINK OF THIS ADVERTISEMENT<br>
    I NEED TO TRANSFER_V MONEY FROM MY ACCOUNT<br>
    WE NEED TO PROGRESS_V TO A HIGHER LEVEL<br>
    WHAT WOULD YOU LIKE FOR DESSERT<br>
    THE UK IMPORTS_V MOST OF ITS FOOD<br>
    HE HADN'T INTENDED TO INSULT_V THE POLICEMAN<br>
    THEIR MUSICAL STYLES CONTRAST_V STRONGLY<br>
    SHE'S A GRADUATE_N AT CAMBRIDGE UNIVERSITY<br>
    THE AREA'S BECOME A DESERT<br>
    HE REGARDED THE OFFER AS AN INSULT_N<br>
    THE TEAM WILL PRESENT_V THEIR RESULTS AT THE CONFERENCE<br>
    YOUR TICKET DOES NOT INCLUDE TRANSFER_N FROM THE AIRPORT TO YOUR HOTEL<br>
    COMPANY CANNOT SELL ITS REJECT_ADJ FURNITURE<br>
    HE'S A PHOTOGRAPHER<br>
    THE REBEL_N LEADER HAS BEEN ARRESTED<br>
    THE PROJECT_N HAS PROVIDED VALUABLE EXPERIENCE<br>
    HE TAKES WONDERFUL BUT STRANGE PHOTOGRAPHS<br>
    THEY PREDICT A CLOSE CONTEST_N AT THE NEXT ELECTION<br>
    STUDENTS STAGED A PROTEST_N MARCH OUTSIDE PARLIAMENT<br>
    THE JURY TOOK TWO DAYS TO CONVICT_V HIM<br>
    THERE IS A CLEAR CONTRAST_N BETWEEN THEIR MUSICAL STYLES<br>
    FOOD AND CLOTHING IMPORTS_N ARE RISING<br>
    EXPORT_N ORDERS ARE HIGHER THAN LAST YEAR<br>
    SHE EXPECTS TO GRADUATE_V NEXT SUMMER<br>
    THEY WILL HAVE TO TRANSPORT_V THE COMPONENTS OVERLAND<br>
    THERE HAS BEEN AN INCREASE_N IN GLOBAL TEMPERATURES<br>
    THEY HAD TO REJECT_V HIS PLAN<br>
    HAVE YOU MADE ANY PROGRESS_N ON YOUR REPORT<br>
    THEY PRODUCE_V MORE THAN THEY CAN CONSUME<br>
    SHE HAD TO SEND AN ABSTRACT_N BY THE END OF THE MONTH<br>
    IT IS A MEASURE THAT CONFLICTS_V WITH A LONG TERM POLICY<br>
    WHEN ARE THEY GOING TO IMPLEMENT THE SCHEME<br>
    CHILDREN OFTEN REBEL_V AGAINST THEIR PARENTS<br>
    THE VILLAGE LOOKS QUITE DESERTED<br>
    BUSINESSES MUST EXPORT_V TO SURVIVE<br>
    THE POLICE SUSPECT_V A CONSPIRACY<br>
    THEY SELL FRESH FARM PRODUCE_N<br>
    IN READING A LONG REPORT IT IS BEST TO ABSTRACT_V SOME MAIN POINTS<br>
    SHE ASKED HIM TO ESCORT_V HER TO HER CAR<br>
    THE RESULTS OF THE SURVEY_N WILL BE PUBLISHED NEXT MONTH<br>
    MANY PEOPLE DISLIKE TRAVELLING BY PUBLIC TRANSPORT_N<br>
    I THINK IT'S EXTRAORDINARY<br>
    THAT ADVERT SHOULD BE BANNED<br>
    STAFF MUST RECORD_V ALL ACCIDENTS IN THE BOOK<br>
    THEY HAVE MADE RECORD_ADJ PROFITS FROM THE SALE OF COMPUTERS<br>
    HE WAS ATTACKED BY A SHARP IMPLEMENT<br>
    THEY IGNORED HIS WARNINGS ABOUT THEIR CONDUCT_N<br>
    IT IS EASY TO IMAGINE CONFLICTS_N OF INTEREST<br>
    COULD I HAVE CHICKEN SOUP AS A STARTER AND THEN LAMB CHOPS<br>
    I WOULD LIKE BEEF AND FOR PUDDING I WOULD LIKE VANILLA ICE CREAM<br>
    I'D LIKE PRAWN COCKTAIL AND A STARTER AND THEN ROAST CHICKEN<br>
    I WOULD LIKE FISH AND FOR PUDDING I'D LIKE RHUBARB PIE AND CREAM<br>
    CAN I HAVE SOUP THEN LAMB WITH BOILED POTATOES GREEN BEANS AND A GLASS OF RED WINE<br>
    I WOULD LIKE PORK CHOPS WITH FRIED POTATOES GREEN BEANS AND A BOTTLE OF WINE<br>
    I WANT FISH SOUP AS A STARTER AND THEN ROAST BEEF WITH A SALAD AND A GLASS OF WINE<br>
    COULD I HAVE LAMB WITH BOILED POTATOES PEAS AND A GLASS OF WATER AND FOR DESSERT CAN I HAVE FRUIT SALAD<br>
    I WANT SALAD THEN BEEF WITH BOILED POTATOES BROAD BEANS AND A BOTTLE OF WATER<br>
    I WOULD LIKE CHICKEN WITH FRIED POTATOES BROCCOLI PEAS AND A GLASS OF WATER<br>
    THIS SUMMER I'D LIKE TO VISIT ROME FOR A FEW DAYS<br>
    I'D LIKE TO GO TO SPAIN IN JUST FOR A FORTNIGHT<br>
    WE'RE PLANNING TO TRAVEL TO EGYPT FOR A WEEK OR SO<br>
    THIS YEAR I'D LOVE TO GO TO JAPAN<br>
    I'D LIKE TO VISIT RUSSIA JUST FOR A WEEKEND OR SO<br>
    I PLAN TO GO TO THE UNITED STATES<br>
    I WOULD LIKE TO GO TO CHINA FOR A COUPLE OF WEEKS<br>
    THIS YEAR WE PLAN TO GO TO NEW YORK FOR TEN DAYS<br>
    THIS YEAR HE'S HOPING TO STAY IN PARIS JUST FOR A COUPLE OF WEEKS<br>
    I WOULD LIKE TO TAKE A TRIP TO WALES FOR A WEEKEND<br>
    THIS SUMMER I'M GOING TO GERMANY JUST FOR TEN DAYS<br>
  </p>
  <h3>Lombard</h3>
  <p class="card-text">
    I WANT FISH SOUP AS A STARTER AND THEN ROAST BEEF WITH A SALAD AND A GLASS OF WINE<br>
    COULD I HAVE LAMB WITH BOILED POTATOES PEAS AND A GLASS OF WATER AND FOR DESSERT CAN I HAVE FRUIT SALAD<br>
    I WANT SALAD THEN BEEF WITH BOILED POTATOES BROAD BEANS AND A BOTTLE OF WATER<br>
    I WOULD LIKE CHICKEN WITH FRIED POTATOES BROCCOLI PEAS AND A GLASS OF WATER<br>
    THIS SUMMER I'D LIKE TO VISIT ROME FOR A FEW DAYS<br>
    I'D LIKE TO GO TO SPAIN IN JUST FOR A FORTNIGHT<br>
    WE'RE PLANNING TO TRAVEL TO EGYPT FOR A WEEK OR SO<br>
    THIS YEAR I'D LOVE TO GO TO JAPAN<br>
    I'D LIKE TO VISIT RUSSIA JUST FOR A WEEKEND OR SO<br>
    I PLAN TO GO TO THE UNITED STATES<br>
    I WOULD LIKE TO GO TO CHINA FOR A COUPLE OF WEEKS<br>
  </p>
{% endblock %}
