{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class='section-title'>
  <h3 style='text-align:center' class='text-color'>intonat.io is about
    <b>
      <span class="txt-rotate" id='text-color-active'
      data-period="1500"
      data-rotate='[ "voice!", "research!", "deep learning!" ]'>
      </span>
    </b>
  </h3>

  <div id="bars">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</div>

<div class='section-title'>
  <h4 id='text-color-active'>Project overview</h4>
  <p class="informations">
    The aim of the project is to develop an algorithm for estimating a person's age based on the recording of their voice.
    Machine learning algorithms are very dependent on the quantity and quality of data on which they are trained, so this web application was created to develop the algorithm.
    We also use recordings prepared by scientists from the Gdańsk University of Technology and Trinity College in Dublin.
    The project is carried out as part of the master's studies at the Gdańsk University of Technology.
  </p>
</div>

<div class='section-title'>
  <h4 id='text-color-active'>How to participate?</h4>
  <p class="informations">
    If you would like to contribute to the success of our project, we strongly encourage you to record your voice and specify your age.
    The next tab contains an anonymous data form and a recording module. To start recording, press the microphone button and allow the browser to access the microphone.
    After reading the sentence, press the microphone button again to stop recording.
    The next sentence to read will be generated automatically. If you make a mistake or would like to repeat the recording, you can navigate between the sentences using the navigation buttons.
    After recording, your entry will be automatically uploaded to the project server.
  </p>
</div>

<div class='section-title'>
  <h4 id='text-color-active'>Privacy concerns</h4>
  <p class="informations">
    By taking part in the research, you consent to the anonymised processing of your voice recordings.
    The information you provide to us is voluntary and will only be used to develop the classification algorithm.
    We undertake to respect the privacy of people participating in the research so we will not share them with third parties.
  </p>
</div>
<script src = "{% static 'js/typewriter.js' %}"></script>
{% endblock %}
