{% extends 'base.html' %}

{% block head_content %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href = "{% static 'css/recorder.css' %}">
{% endblock %}

{% block content %}
  <h2>Audio recorder</h2>
<script src = "{% static 'js/recorder.js' %}"></script>
<script src = "{% static 'js/recorder_jquery.js' %}"></script>

<div>
  Krótki opis tego co tu bedize.
</div>

<div style = "width:70%; margin:auto">
    <input type="text" id="speakerName" placeholder="Name" style="width:45%">
    <input type="number" min="1" id="speakerAge" placeholder="Age" style="width:20%">
    <select id="speakerSex" name="sex" placeholder="Sex"   style="width:25%">
      <option value="" disabled selected hidden>Sex</option>
      <option value="F">Female</option>
      <option value="M">Male</option>
    </select>
  </form>
</div>

  <div class="holder">
    <div data-role="controls">
        <button>Record</button>
    </div>
    <div data-role="recordings"></div>
  </div>
{% endblock %}