{% extends 'base.html' %}

{% block head_content %}
  {% load static %}
{% endblock %}

{% block content %}
  <h2>Audio recorder</h2>

<div>
  Krótki opis tego co tu bedize.
</div>

<div style = "width:70%; margin:auto">
    <input id="speakerName" type="text"  placeholder="Name" style="width:45%">
    <input id="speakerAge" type="number" min="1"  placeholder="Age" style="width:20%">
    <select id="speakerSex" name="sex" placeholder="Sex" style="width:25%">
      <option value="" disabled selected hidden>Sex</option>
      <option value="F">Female</option>
      <option value="M">Male</option>
    </select>
  </form>
</div>

<div class='scenarioBox'>
  <div id='previousSentence' class='disabled-sentences'></div>
  <div id='currentSentence'></div>
  <div id='nextSentence' class='disabled-sentences'></div>
</div>

<div class="pagination">
  <ul>
  </ul>
</div>

<div class="holder">
  <div data-role="controls">
      <button>Record</button>
  </div>
  <div data-role="recordings"></div>
</div>

<script src = "{% static 'js/recorder.js' %}"></script>
<script src = "{% static 'js/recorder_jquery.js' %}"></script>
{% endblock %}