:root {
  --blue-background: #C2E9F6;
  --blue-border: #72cce3;
  --blue-color: #96dcee;
  --yellow-background: #fffaa8;
  --yellow-border: #f5eb71;
  --indigo-background: #808fc7;
  --indigo-border: #5d6baa;
  --indigo-color: #6b7abb;
  --gray-border: #e8e8ea;
  --gray-dots: #e8e8ea;
  --white: #fff;
  --recording: #C80000;
}


.navbar-brand{
    font-family: monospace;
}

.nav-link{
    font-weight: bold;
}

.nav-link.active {
    font-weight: bold;
}

.holder {
  border-radius: 50px;
}

input:focus, select:focus{
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}
.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}

[data-role="controls"] > button {
  margin: 50px auto;
  outline: none;
  display: block;
  border: none;
  background-image: url("/static/images/microphone.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-indent: -1000em;
  cursor: pointer;
}

[data-role="controls"] > button:hover {
  background-image: url("/static/images/microphone.png");
  background-repeat: no-repeat;
  background-position: center;
  
  background-color: var(--recording);   
  -webkit-box-shadow: 0px 0px 0px 12px var(--recording), 0px 0px 0px 15px var(--border-color);
  box-shadow: 0px 0px 0px 12px var(--recording), 0px 0px 0px 15px var(--border-color);
}

[data-role="controls"] > button[data-recording="true"] {
  background-image: none;
  background-color: var(--recording);   
  -webkit-box-shadow: 0px 0px 0px 12px var(--recording), 0px 0px 0px 15px var(--border-color);
  box-shadow: 0px 0px 0px 12px var(--recording), 0px 0px 0px 15px var(--border-color);
}

[data-role="recordings"] > .row {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: auto;
  padding: 20px;
}

[data-role="recordings"] > .row > audio {
  outline: none;
  width: 100%;
  margin-left:50px;
  margin-right:50px;
  border-radius: 30px;
  padding:3px;
}

[data-role="recordings"] > .row > a {
  display: inline-block;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 20px;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 20px;
  cursor: pointer;
}

[data-role="recordings"] > .row > a:hover {
  text-decoration: none;
}

input, select{
  padding: 12px 20px;
  border-radius: 4px;
  border-width: 1px;
  box-sizing: border-box;
  font-weight: bold;
}

.pagination ul{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  border-radius: 50px;
}
.pagination ul li{
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
}

.toggle--checkbox {
  display: none;
}

.toggle--checkbox:checked ~ .background {
  background: var(--indigo-background);
}
.toggle--checkbox:checked + .toggle--label {
  background: var(--indigo-color);
  border-color: var(--indigo-border);
}

.toggle--checkbox:checked + .toggle--label .toggle--label-background {
  left: 24px;
  width: 2px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
  width: 2px;
  height: 2px;
  top: -10px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
  width: 2px;
  height: 2px;
  left: -12px;
  top: 8px;
}
.toggle--checkbox:checked + .toggle--label:before {
  background: var(--white);
  border-color: var(--gray-border);
  animation-name: switch;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
}
.toggle--checkbox:checked + .toggle--label:after {
  transition-delay: 350ms;
  opacity: 1;
}
.toggle--label {
  width: 80px;
  height: 40px;
  background: var(--blue-color);
  border-radius: 40px;
  border: 2px solid var(--blue-border);
  display: flex;
  position: relative;
  transition: all 350ms ease-in;
}
.toggle--label-background {
  width: 4px;
  height: 2px;
  border-radius: 2px;
  position: relative;
  background: var(--white);
  left: 54px;
  top: 18px;
  transition: all 150ms ease-in;
}
.toggle--label-background:before {
  content: "";
  position: absolute;
  top: -2px;
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background: var(--white);
  left: -8px;
  transition: all 150ms ease-in;
}
.toggle--label-background:after {
  content: "";
  position: absolute;
  top: 2px;
  width: 16px;
  height: 2px;
  border-radius: 2px;
  background: var(--white);
  left: -4px;
  transition: all 150ms ease-in;
}
.toggle--label:before {
  animation-name: reverse;
  animation-duration: 350ms;
  animation-fill-mode: forwards;
  transition: all 350ms ease-in;
  content: "";
  width: 33px;
  height: 33px;
  border: 2px solid var(--yellow-border);
  top: 2px;
  left: 2px;
  position: absolute;
  border-radius: 33px;
  background: var(--yellow-background);
}
.toggle--label:after {
  transition-delay: 0ms;
  transition: all 250ms ease-in;
  position: absolute;
  content: "";
  box-shadow: var(--gray-dots) -5px 0 0 1px, var(--gray-dots) -10px 6px 0 -1px;
  left: 57px;
  top: 9px;
  width: 4px;
  height: 4px;
  background: transparent;
  border-radius: 50%;
  opacity: 0;
}

@keyframes switch {
  0% {
    left: 2px;
  }
  60% {
    left: 2px;
    width: 49px;
  }
  100% {
    left: 42px;
    width: 33px;
  }
}
@keyframes reverse {
  0% {
    left: 42px;
    width: 33px;
  }
  60% {
    left: 29px;
    width: 45px;
  }
  100% {
    left: 2px;
  }
}

.pagination ul{
  width: auto;
  margin:auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  border-radius: 50px;
}

.pagination ul li{
  list-style: none;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}
.pagination ul li.numb{
  list-style: none;
  height: 45px;
  width: 45px;
  margin: 0 3px;
  line-height: 45px;
  border-radius: 50%;
}

.pagination ul li.numb.first{
  margin: 0px 3px 0 -5px;
}
.pagination ul li.numb.last{
  margin: 0px -5px 0 3px;
}
.pagination ul li.dots{
  font-size: 22px;
  cursor: default;
}
.pagination ul li.btn{
  padding: 0 20px;
  border-radius: 50px;
}

.scenarioBox
{
  margin: 15px;
  border-radius: 50px;
}

#currentSentence
{
  font-size: 350%;
  padding:20px;
  width: 90%;
  margin:auto;
  text-align: center;
  text-decoration: bold; 
}

.disabled-sentences
{
  padding:10px;
  width: 90%;
  margin:auto;
  text-align: center;
  text-decoration: italic;
}