#page-background {
    background-color: #151515;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#151515), to(#151515));
}

#navbar-background{
    background-color: #151515;
}

.navbar-brand{
    color:rgb(2, 136, 129);
    font-family: monospace;
}

.nav-link{
    color:rgb(2,136,129);
    font-weight: bold;
}

.nav-link.active {
    color:burlywood;
    font-weight: bold;
}

.card{
    background-color: #353535;
    color:#4b524e;
}